/* デザイン調整 */
.main{
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
  padding: 2vw;
}
.aside{
  /* デザイン調整（メインと合わせる） */
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
  padding: 2vw;

  /* 固定 */
  margin-bottom:50px;
  position: sticky;
  position: -webkit-sticky;
  top: var(--asidePaddingTop);

  /* スクロール */
  overflow:auto;  /*スクロール機能*/
	height: 100vh; /* 目次の高さ上限*/
}
.aside h2{
  margin: 0;
  padding-left: 0.4rem;
  color: #777;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px
}
.aside h2::before{
  border-bottom: 1px solid #a3c68c;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
}
.aside h2::after{
  border-bottom: 1px solid #E5E5E5;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
}
.aside p{
  font-size: 0.9rem;
}
/* Macでもスクロールバーが表示されるようにする */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0,0,0,.5);
box-shadow: 0 0 1px rgba(255,255,255,.5);
}


.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  margin: 0 auto 40px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
