/* デザイン調整 */
.main{
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
  padding: 2vw;
}
/* デザイン調整（メインと合わせる） */
.aside{
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
  padding: 2vw;
}



.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  margin: 0 auto 40px;
}
.post :global(h3) {
  margin: 0;
  color: var(--fg);
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
