/* デザイン調整 */
.main{
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
  padding: 2vw;
}

/* 一覧ページの投稿カード */
.cardWrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
}

.aside{
  /* デザイン調整（メインと合わせる） */
  /* padding: 2vw; */

  /* 固定 */
  /* margin-bottom:50px;
  position: sticky;
  position: -webkit-sticky;
  top: var(--asidePaddingTop); */

  /* スクロール */
  /* overflow:auto; */  /*スクロール機能*/
	/* height: 100vh; */ /* 目次の高さ上限*/

  /* 見出しごとに塊を分ける */
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* 目次の固定表示（sticky）を実現するため親要素は高さが必要 */
  height: 100%;
}
.aside > *{
  padding: 20px;
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
}
.aside h2{
  margin: 0;
  padding-left: 0.4rem;
  color: #777;
  font-size: 1.0rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px
}
.aside h2::before{
  border-bottom: 1px solid #a3c68c;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
}
.aside h2::after{
  border-bottom: 1px solid #E5E5E5;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
}
.aside p{
  font-size: 0.9rem;
  line-height: 1.5;
}
/* 固定表示（目次で使用） */
.stickyBox{
  /* サイドバー直下すべてに適用されるスタイルを無効にする */
  padding: 0;
  background: none;
  box-shadow: none;

  /* 固定表示 */
  position: sticky;
  top: 0;
  padding-top: 1rem;
}
.stickyBox > *{
  /* 目次 */
  padding: 20px;
  background: var(--main-add-1);
  box-shadow: var(--box-shadow);
  overflow-x: hidden;

  /* 目次の数が多くて溢れたときにスクロールバーを表示する */
  max-height: 90vh;
  overflow-y: auto;
}
/* Macでもスクロールバーが表示されるようにする */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0,0,0,.5);
box-shadow: 0 0 1px rgba(255,255,255,.5);
}


.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  margin: 0 auto 40px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
