---
import { Post } from '../lib/interfaces.ts'
import NoContents from '../components/NoContents.astro'
import PostCard from '../components/PostCard.astro'

export interface Props {
  posts: Post[]
  columnCount: number // 横並びの数
}

const { posts, columnCount = 2 } = Astro.props
---

<div class='card-wrapper' style={`--column-count: ${columnCount}`}>
{
  posts.length === 0 ? (
    <NoContents contents={posts} />
  ) : (
    posts.map((post: Post) => (
      <PostCard post={post} />
    ))
  )
}
</div>

<style>
  .card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
  }
  .card-wrapper > :global(.card) {
    /* columnCountの数に合わせて動的に幅を決める */
    width: calc( ( 100% / var(--column-count) ) - ( var(--gap) * (var(--column-count) - 1) / var(--column-count) ) );
  }
</style>
