---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/font.css'
---

<ul class="sns-link">
  <li><a class="twitter-link" href="https://twitter.com/rakuraku_eng"><span class="fa-twitter"></span></a></li>
</ul>

<style>
  .sns-link {
    display: flex;
    padding: 0;
    width: 100%;
    list-style: none;
    gap: 0.5rem;
  }
  .sns-link p {
    margin: 0;
    color: #3f3f3f;
  }
  .sns-link li {
    flex: 1;
  }
  .sns-link li:only-child {
    flex: 0 0 100%;
  }
  .sns-link li a {
    /* display: block; */
    border-radius: var(--radius);
    padding: 0.4rem 0.4rem;
    line-height: 1.2rem;
    color: inherit;
    font-size: 0.95rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
  }
  .twitter-link {
    background-color: #1da1f2;
  }
  .sns-link li a:hover {
    /* background-color: #ddd; */
    opacity: 0.7;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .sns-link li a span,
  .sns-link li a img {
    display: inline-block;
    margin-right: 0.2rem;

    color: #fff;
  }
  .sns-link li a img {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: sub;
  }
</style>
